<!doctype html>
<html>
<head>
    <title>About</title>
    <style>
        body {
            background-image: url("{{ url_for('static', filename=bg_image_path) }}");
            background-size: cover;
            font-family: avenir, sans-serif;
            color: #e4e4e4;
            text-align: center;
            padding-top: 50px;
        }
        textarea {
            width: 80%;
            height: 200px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    {% if header %}
        <h1>Hello from {{ header }}!</h1>
    {% else %}
        <h1>Hello From CLO835!</h1>
    {% endif %}

    {% if contents %}
        <textarea readonly>{{ contents }}</textarea>
    {% endif %}
</body>
</html>
