<!DOCTYPE html>
<html>
<head>
    <title>Get Employee Information</title>
</head>
<body style="background-image: url('{{ url_for('static', filename=bg_image_path) }}'); background-size: cover;">
<center>
    <h1 style="color: DodgerBlue;">Employee Information - {{ header }}</h1>

    <form action="/fetchdata" autocomplete="on" method="POST">
        <h2 style="color: grey">Enter Employee ID</h2>
        Employee ID:<br>
        <input type="number" name="emp_id" autofocus size="40" style="height:25px;font-size:14pt;"><br><br>

        <button type="submit" style="background: grey; height: 45px; width: 200px; color: white; font: oblique;">FETCH INFO</button><br><br>
    </form>
</center>
</body>
</html>
